
body { 
    font-family: 'Montserrat', sans-serif;
    margin: 8px;
    padding-top: 30px;
    letter-spacing: -0.5px;
    font-size: 16px;
}

.icon {
    width: 20px;
    filter: invert(11%) sepia(59%) saturate(5379%) hue-rotate(353deg) brightness(104%) contrast(105%);
}

section {
    padding: 50px;
}

h4 {
    margin-top: 30px;
    text-align: center; 
    font-size: 20px;
}

section:nth-child(odd) {
    background-color: #f5f5f5;
}


.project-title { 
    text-align: center;
    font-size: 3.5vw;
    margin: 20px;
}

.project-image { 
    max-width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.authors {
    margin-top: 20px;
    text-align: center;
}

.authors a { 
    display: inline-block;
    font-size: 18px;
    padding: 10px;
    color: #aa0808;
    text-decoration: none;
}

.affiliations { 
    font-size: 15px;
    text-align: center;
    width: 80%;
    margin: 0 auto; 
    margin-bottom: 30px;
}

.affiliations span {
    padding-top: 0;
    padding: 12px;
}

.project-icons { 
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 40px;
    margin-top: 10px;
    padding-top: 0;
    font-size: 15px;
    padding-bottom: 50px;
}

.project-icons a {
    text-decoration: none;
    color: #aa0808;
    font-weight: 1000;
    border: 1px solid #aa0808;
    border-radius: 10px;
    padding: 10px 30px 10px 30px;
}

.project-icons a:hover {
    border: 1px solid #460404;
}

.abstract { 
    width: 70%;
    margin: 0 auto;
}

.abstract .numbers {
    display: flex;
    justify-content: space-evenly;
}

.teaser-images {
    margin-top: 30px;
    text-align: center;
}

.teaser-images img {
    width: 70%;

}

.section-header {
    text-align: center;
    margin-bottom: 20px;
    font-size: 25px;
}

.caption { 
    font-size: 20px;
    width: 70%;
    margin: 0 auto;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 30px;
}

.image-grid {
    display: flex;
    justify-content: center; 
}

.image-grid img {
    width: 600px;
}

.result-video {
    width: 90%;
    display: flex;
    justify-content: center;
    gap: 10px;
}

.result-video .row {
    width: 100%;
}

.carousel-control.left,
.carousel-control.right {
background: transparent;
}
  
.carousel {
  width: 70%;
  margin: 0 auto;
}

.carousel-control {
  background-color: white;
  opacity: 1;
}

.model-gap { 
    width: 4%;
}

.carousel-inner  .row video { 
    width: 33%;
}

.tall-video {
    height: 320px;
}

video {
    pointer-events: none;
}


@media (max-width: 1250px) {
    .abstract { 
        width: 100%;
        margin: 0 auto;
    }
    .project-title {
        font-size: 40px;
    }  
}


@media (max-width: 720px) {

    /* -------- Details About the Teaser Grid --------- */
    .carousel-inner .row video { 
        width: 100%;
        height: 200px;
    }

    .tall-video {
        height: 200px;
    }

    /* -------- Details About the Image Grid --------- */
    .image-grid {
        display: block;
        margin: 0 auto;
        text-align: center;
    }

    .image-grid img {
        width: 300px;
        margin: 0 auto;
    } 

    .row {
        margin-bottom: 40px;
    }

    /* -------- Details About the Video Grid --------- */

    .result-video {
        display: block;
        margin: 0 auto;
        text-align: center;
    }

    .row {
        margin-bottom: 40px;
    }

    .model-gap {
        height: 0%;
    }
}
